

.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }
  
  .form-field {
    width: 100%;
  }
  
  .mission-container {
    width: 100%; /* Set the width to 80% of the container */
    margin: 0 auto; /* Center horizontally */
  }
  