button {
    text-align: center;
    margin: 10px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #3b61dd;
    color: rgb(251, 251, 251);  
  }
  
  button:hover {
  /*here is button hover*/
    background-color: #0000ff; 
  }
  
  .authPage{
    text-align: center;
    width: 50%;
    max-width: 100%;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    border: 5px solid #ccc;
    box-sizing: border-box;
    position:absolute;
    top: 40%;
    left: 25%;
  } 
  
  .login {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
    border: 1px solid #ccc; 
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
  } 
  
  .register {
    text-align: center;
    width: 100%;
    max-width: 100%;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    /*need to make border around everything*/
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
  }
  
  #siteTitle {
    position: absolute;
    top: -200%;
    left: 17%;
    font-size: 50px;
    color: rgb(114, 114, 255);
  }
  
  #a1,#a2 {
  
    background-color: #3b61dd;
    color: white;
    border-color: #1f1f1f;
    border-width: 2px;
  }
  
  #a1:hover,#a2:hover {
    background-color: #0000ff; 
  }