/*copied from webdevfinalproj */

section {
    position:relative;
    top:100px;
    text-align: center;
}

h1,p {
    text-align: center;
}
h1 {
    font-size: 30px;

}
/* Change the settings and main page buttons location on the settings page to match up with the ones on the main page*/
section footer #b1 {
    top: -105px;
}
section footer #b2 {
    top: -105px;
}